<h1>About</h1>

<p>
Hi, I'm Iraban and I work in AI/ML..
</p>

<p>
This website is my personal knowledge base where I document my learning
notes on Artificial Intelligence, Machine Learning, Mathematics and
Computer Science.
</p>

<p>
I enjoy building an understanding of any topic from first principles,
using simple layers of abstraction, stacking them up to fully grokking it
finally. Most articles here are written primarily for my future self, and
hopefully they'll be useful to others as well.
</p>

<p>
Thanks for stopping by!
</p>